* {
    box-sizing: border-box;
}
:root {
 --primary-color: #F1EEE2;
 --secondary-color: #FC1C14;
}

body {
    background-color: var(--primary-color);
}

/* animation reveal when hover over [SC]] on navbar */ 
.name-reveal {
    display: none; 
}

/*navbar decoration */ 
.navbar-brand {
    font-weight: bold;
}

/* main */ 

main {
    min-height: 100vh;
    font-family: "Lato", sans-serif
}
.homepage-title {
    font-size: 4rem;
    font-weight: 500;
}

/* colors for home webpage */
.nav-bg-color{
    background-color: var(--primary-color);
}
.introduction{
    background-color: var(--primary-color);
}
.emphasis-color {
    color: var(--secondary-color); 
}

/* hover animations */
.nav-link {
    transition: all 200ms ease-in-out; 
}
.nav-link:hover {
    letter-spacing: 2px;
    font-weight: bold;
}

a:hover .name-reveal{
    display: inline;  
}
/*mobile interface */ 


