* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif !important;
}
:root {
 --primary-color: #F1EEE2;
 --secondary-color: #FC1C14;
}

.large-title {
    font-size: 5vw !important;
}

/* colors for home webpage */
.bg-body{
    background-color: var(--primary-color) !important;
}
.introduction{
    background-color: var(--primary-color) !important;
}
.emphasis-color {
    color: var(--secondary-color); 
}

/* hover animations */
.nav-link {
    transition: all 200ms ease-in-out; 
}
.nav-link:hover {
    letter-spacing: 2px!important;
}
 
/*mobile interface */ 

@media (max-width: 600px) {
    h1 {
        text-align: center;
        color: blue; 
    }
    .header {
        margin: 0; 
        color: blue; 
    }
}

