* {
    box-sizing: border-box;
   
    
}
:root {
 --primary-color: #DADADA;
 --secondary-color: #FC1C14;
 --text-color: #181818; 
}

body {
    background-color: var(--primary-color);
}

/* animation reveal when hover over [SC]] on navbar */ 
.name-reveal {
    display: none; 
}

/*navbar decoration */ 
.navbar-brand {
    font-weight: bold;
}

/* main */ 

main {
    color: var(--text-color)
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    overflow: hidden;
}
.homepage-title {
    font-size: 4rem;
    font-weight: 500;
}

/* colors for home webpage */
.nav-bg-color{
    background-color: var(--primary-color);
}
.introduction{
    background-color: var(--primary-color);
}
.emphasis-color {
    color: var(--secondary-color); 
}

/* icons decoration */ 
.icons {
    font-size: 2rem;
    gap: 1rem; 
}

/* hover animations */
.nav-link {
    transition: all 200ms ease-in-out; 
}
.nav-link:hover {
    letter-spacing: 2px;
    font-weight: bold;
}

a:hover .name-reveal{
    display: inline;  
}
/*mobile interface */ 
